<h2>Events</h2>
<ul class="events">
  <li *ngFor="let event of events">
    <span>{{event.name}}</span>
  </li>
</ul>


<button class="btn">Details ></button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Event</th>
      <th scope="col">Category</th>
      <th scope="col">Venue Info</th>
      <th scope="col">Favorite</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <th scope="row">{{event.id}}</th>
      <td>{{event.date}}</td>
      <td>{{event.name}}</td>
      <td>{{event.category}}</td>
      <td>{{event.venueName}}</td>
      <td>{{event.isFavorited}}</td>
    </tr>
  </tbody>
</table>