<div class="row">
  <div class="col-sm search-form">
    <h4>Entertainment Event Ticket Search</h4>
    <div *ngIf="chosenEvent">{{chosenEvent.name}}</div>
    <div [@eventDetail]="isDetailed ? 'chosen' : 'notChosen'">aaabbbccc</div>

    <form>
      <div class="form-group row">
        <label for="keyword" class="col-sm-3 col-form-label">Keyword <span class="required-star">*</span></label>
        <div class="col-sm-7">
          <input [matAutocomplete]="auto" [(ngModel)]="query.keyword" (ngModelChange)="query.keyword=$event" (keyup)="onKeyUp()" (blur)="validateKeyword()" type="text" class="form-control {{keywordInvalid ? 'is-invalid' : ''}}" name="keyword" placeholder="Enter Artist, Team or Event Name (eg. Lakers)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
              {{suggestion}}
            </mat-option>
          </mat-autocomplete>
          <div class="invalid-feedback" *ngIf="keywordInvalid">
            Please enter a keyword.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Category</label>
        <div class="col-sm-3">
          <select [(ngModel)]="query.category" (ngModelChange)="query.category=$event" class="form-control" name="category">
            <option value="all" selected>All</option>
            <option value="music">Music</option>
            <option value="sports">Sports</option>
            <option value="arts">Arts & Theatre</option>
            <option value="film">Film</option>
            <option value="miscellaneous">Miscellaneous</option>
          </select>
        </div>
      </div>


      <div class="form-group row">
        <label for="radius" class="col-sm-3 col-form-label">Distance</label>
        <div class="col-sm-3">
          <input [(ngModel)]="query.radius" (ngModelChange)="query.radius=$event" name="radius" class="form-control">
        </div>
        <div class="col-sm-3">
          <select #unitInput [(ngModel)]="query.unit" (ngModelChange)="query.unit=$event" name="unit" class="form-control">
            <option value="miles" selected>Miles</option>
            <option value="km">Kilometers</option>
          </select>
        </div>
      </div>

      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-3">From <span class="required-star">*</span></legend>
          <div class="col-sm-7">
            <div class="form-check">
              <input class="form-check-input" [(ngModel)]="query.from" (ngModelChange)="query.from=$event" type="radio" name="from" value="here" checked>
              <label class="form-check-label">
                Current location
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" [(ngModel)]="query.from" (ngModelChange)="query.from=$event" type="radio" name="from" value="there">
              <label class="form-check-label">
                Other. Please specify:
              </label>
              <input class="form-control" [(ngModel)]="query.fromTerm" (ngModelChange)="query.fromTerm=$event" [disabled] = "query.from === 'here'" name="fromTerm">
            </div>
          </div>
        </div>
      </fieldset>
      <button (click)="search()" type="button" class="btn btn-primary"><i class="material-icons">search</i>Search</button>
      <button type="button" class="btn"><i class="material-icons">clear_all</i>Clear</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <ul class="nav nav-pills central-pills" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Favorites</a>
      </li>
    </ul>
  </div>
</div>

<div class="row" *ngIf="isLoading">
  <div class="col-sm">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50"
        aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
    </div>
  </div>
</div>

<div class="row" *ngIf="events">
    <div class="tab-content col-sm" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        
        <button class="btn">Details ></button>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Event</th>
              <th scope="col">Category</th>
              <th scope="col">Venue Info</th>
              <th scope="col">Favorite</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
              <th scope="row">{{event.id}}</th>
              <td>{{event.date}}</td>
              <td><a role="button" href="#" (click)="chooseEvent(event)" onclick="return false;">{{event.name}}</a></td>
              <td>{{event.category}}</td>
              <td>{{event.venueName}}</td>
              <td>{{event.isFavorited}}</td>
            </tr>
          </tbody>
        </table>


      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">xxx</div>
    </div>
</div>
