<div id="js-map"></div>

<div class="row">
  <div class="col-sm search-form">
    <h4>Entertainment Event Ticket Search</h4>
    <form>
      <div class="form-group row justify-content-center">
        <label for="keyword" class="col-sm-2 col-form-label">Keyword <span class="required-star">*</span></label>
        <div class="col-sm-6">
          <input [matAutocomplete]="auto" [(ngModel)]="query.keyword" (ngModelChange)="query.keyword=$event" (keyup)="onKeyUp()"
            (blur)="validateKeyword()" type="text" class="form-control {{keywordInvalid ? 'is-invalid' : ''}}" name="keyword"
            placeholder="Enter Artist, Team or Event Name (eg. Lakers)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
              {{suggestion}}
            </mat-option>
          </mat-autocomplete>
          <div class="invalid-feedback" *ngIf="keywordInvalid">
            Please enter a keyword.
          </div>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-2">
          <select [(ngModel)]="query.category" (ngModelChange)="query.category=$event" class="form-control" name="category">
            <option value="all" selected>All</option>
            <option value="music">Music</option>
            <option value="sports">Sports</option>
            <option value="arts">Arts & Theatre</option>
            <option value="film">Film</option>
            <option value="miscellaneous">Miscellaneous</option>
          </select>
        </div>
        <div class="col-sm-4">
        </div>
      </div>


      <div class="form-group row justify-content-center">
        <label for="radius" class="col-sm-2 col-form-label">Distance</label>
        <div class="col-sm-2">
          <input (ngModelChange)="query.radius=$event" name="radius" class="form-control" placeholder="10">
        </div>
        <div class="col-sm-2">
          <select #unitInput [(ngModel)]="query.unit" (ngModelChange)="query.unit=$event" name="unit" class="form-control">
            <option value="miles" selected>Miles</option>
            <option value="km">Kilometers</option>
          </select>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <fieldset class="form-group">
        <div class="row justify-content-center">
          <legend class="col-form-label col-sm-2">From <span class="required-star">*</span></legend>
          <div class="col-sm-6">
            <div class="form-check">
              <input id="radio-here" class="form-check-input" (click)="clearValidationLocation()" [(ngModel)]="query.from"
                (ngModelChange)="query.from=$event" type="radio" name="from" value="here" checked>
              <label class="form-check-label" for="radio-here">
                Current location
              </label>
            </div>
            <div class="form-check">
              <input id="radio-there" class="form-check-input" [(ngModel)]="query.from" (ngModelChange)="query.from=$event"
                type="radio" name="from" value="there">
              <label class="form-check-label" for="radio-there">
                Other. Please specify:
              </label>
              <input type="text" class="form-control {{query.from === 'there' && locationInvalid ? 'is-invalid' : ''}}"
                [(ngModel)]="query.fromTerm" (keyup)="validateLocation()" (blur)="validateLocation()" (ngModelChange)="query.fromTerm=$event"
                [disabled]="query.from === 'here'" name="fromTerm">
              <div class="invalid-feedback" *ngIf="locationInvalid">
                Please enter a location.
              </div>

            </div>
          </div>
        </div>
      </fieldset>

      <div class="row justify-content-center">
        <div class="col-sm-8">
          <button (click)="search()" type="button" class="btn btn-primary btn-margin" [attr.disabled]="query.keyword === '' || locationInvalid || keywordInvalid ? 'disabled' : null"><i
              class="material-icons" [attr.disabled]="searchEnabled ? null : 'disabled'">search</i>Search</button>
          <button type="button" class="btn btn-margin btn-white" (click)="clearInputs()"><i class="material-icons">clear_all</i>Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row results-nav">
  <div class="col-sm">
    <ul class="nav nav-pills central-pills">
      <li class="nav-item">
        <a (click)="handleResultsClicked()" class="nav-link {{showsFavs ? '' : 'active'}}" href="#tab-results" onclick="return false;">Results</a>
      </li>
      <li class="nav-item">
        <a (click)="handleFavsClicked()" class="nav-link {{showsFavs ? 'active' : ''}}" href="#pills-fav" onclick="return false;">Favorites</a>
      </li>
    </ul>
  </div>
</div>


<div [@backToList]="isDetailed ? 'showsDetailed' : 'showsList'">
  <div class="row" *ngIf="!isDetailed">
    <div class="tab-content col-sm">

      <div id="tab-results" *ngIf="!showsFavs">

        <div class="row" *ngIf="isLoading">
          <div class="col-sm">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%"></div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="showsNoRecords">
          <div class="col-sm">
            <div class="alert alert-warning">No records.</div>
          </div>
        </div>

        <div class="row" *ngIf="showsError">
          <div class="col-sm">
            <div class="alert alert-danger">Failed to get search results.</div>
          </div>
        </div>

        <div *ngIf="events && !showsError && !showsNoRecords && showsEvents">
          <button class="btn btn-white float-right" (click)="detailEvent()" [attr.disabled]="chosenEvent ? null : 'disabled'">Details<i
              class="material-icons">arrow_forward_ios</i></button>
          <div>
            <table class="table nowrap-table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Date</th>
                  <th scope="col">Event</th>
                  <th scope="col">Category</th>
                  <th scope="col">Venue Info</th>
                  <th scope="col">Favorite</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of events; index as i" class="{{ chosenEvent && chosenEvent === event ? 'chosen-row' : '' }}">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{event.date}}</td>
                  <td *ngIf="event.name.length <= 35"><a role="button" href="#" (click)="chooseEvent(event)" onclick="return false;">{{event.name}}</a></td>
                  <td *ngIf="event.name.length > 35"><a role="button" href="#" (click)="chooseEvent(event)" onclick="return false;"
                      matTooltip="{{event.name}}">{{event.name
                      | eventName}}</a></td>
                  <td>{{getCategoryInList(event)}}</td>
                  <td>{{event.venueName}}</td>
                  <td>
                    <button class="btn btn-white" (click)="unfavEvent(event)" *ngIf="event.isFavorited"><i class="material-icons star">star</i></button>
                    <button class="btn btn-white" (click)="favEvent(event)" *ngIf="!event.isFavorited"><i class="material-icons">star_border</i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><!--ngIf events-->
      </div><!--tab-pane tab-results-->

      <div id="pills-fav" *ngIf="showsFavs">
        <div *ngIf="favedEvents.length > 0">
          <button class="btn btn-white float-right" (click)="detailEvent()" role="button" [attr.disabled]="chosenEvent ? null : 'disabled'">Details<i
              class="material-icons">arrow_forward_ios</i></button>
          <table class="table nowrap-table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
                <th scope="col">Category</th>
                <th scope="col">Venue Info</th>
                <th scope="col">Favorite</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of favedEvents; index as i" class="{{ chosenEvent && chosenEvent === event ? 'chosen-row' : '' }}">
                <th scope="row">{{i+1}}</th>
                <td>{{event.date}}</td>
                <td *ngIf="event.name.length <= 35"><a role="button" href="#" (click)="chooseEvent(event)" onclick="return false;">{{event.name}}</a></td>
                <td *ngIf="event.name.length > 35"><a role="button" href="#" (click)="chooseEvent(event)" onclick="return false;"
                    matTooltip="{{event.name}}">{{event.name
                    | eventName}}</a></td>
                <td>{{getCategoryInList(event)}}</td>
                <td>{{event.venueName}}</td>
                <td>
                  <button class="btn btn-white" (click)="unfavEvent(event)" *ngIf="event.isFavorited"><i class="material-icons">delete</i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- ngIf -->

        <div *ngIf="favedEvents.length === 0">
          <div class="row">
            <div class="col-sm">
              <div class="alert alert-warning">No records.</div>
            </div>
          </div>
        </div>


      </div><!--pills-fav-->
    </div>
  </div>
</div>
<!--@backToList-->


<div [@eventDetail]="isDetailed ? 'showsDetailed' : 'showsList'">
  <div *ngIf="isDetailed && chosenEvent">
    <h4 class="center">{{chosenEvent.name}}</h4>
    <div class="row buttons-row">
      <button class="btn btn-white" (click)="backToList()"><i class="material-icons">arrow_back_ios</i> List</button>
      <div class="right-buttons">
        <a class="twitter-button {{chosenEvent.venue ? '' : 'disabled'}}" href="{{twitterUrl(chosenEvent)}}" target="_blank"><img
            src="/assets/twitter.png" alt="Tweet"></a>
        <button *ngIf="chosenEvent.isFavorited" (click)="unfavEvent(chosenEvent)" class="btn btn-white" [attr.disabled]="chosenEvent.venue ? null : 'disabled'"><i
            class="material-icons star">star</i></button>
        <button *ngIf="!chosenEvent.isFavorited" (click)="favEvent(chosenEvent)" class="btn btn-white" [attr.disabled]="chosenEvent.venue ? null : 'disabled'"><i
            class="material-icons">star_border</i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <nav>
          <div class="nav nav-tabs justify-content-end">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-event-detail">Event</a>
            <a class="nav-item nav-link mq-large" data-toggle="tab" href="#nav-event-artist">Artist/Teams</a>
            <a class="nav-item nav-link mq-small" data-toggle="tab" href="#nav-event-artist">Artist</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-event-venue">Venue</a>
            <a class="nav-item nav-link mq-large" data-toggle="tab" href="#nav-event-upcoming">Upcoming Events</a>
            <a class="nav-item nav-link mq-small" data-toggle="tab" href="#nav-event-upcoming">Upcoming</a>
          </div>
        </nav>

        <div class="tab-block tab-content">
          <div class="tab-pane fade show active" id="nav-event-detail">

            <div *ngIf="chosenEvent">
              <table class="table table-striped">
                <tbody>
                  <tr *ngIf="chosenEvent.artistNames && chosenEvent.artistNames.length > 0">
                    <th>Artist/Team(s)</th>
                    <td>{{chosenEvent.artistNames.join(' | ')}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.venueName !== 'N/A'">
                    <th>Venue</th>
                    <td>{{chosenEvent.venueName}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.time !== 'N/A'">
                    <th>Time</th>
                    <td>{{chosenEvent.time}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.segment !== 'N/A'">
                    <th>Category</th>
                    <td>{{chosenEvent.segment}}{{chosenEvent.genre ? ' | ' + chosenEvent.genre: ''}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.priceRange !== 'N/A'">
                    <th>Price Range</th>
                    <td>{{chosenEvent.priceRange}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.ticketStatus !== 'N/A'">
                    <th>Ticket Status</th>
                    <td>{{chosenEvent.ticketStatus.charAt(0).toUpperCase() + chosenEvent.ticketStatus.slice(1)}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.buyTicketAtUrl !== 'N/A'">
                    <th>Buy Ticket At</th>
                    <td><a href="{{chosenEvent.buyTicketAtUrl}}" target="_blank">Ticketmaster</a></td>
                  </tr>
                  <tr *ngIf="chosenEvent.seatMapUrl !== 'N/A'">
                    <th>Seat Map</th>
                    <td><a href="{{chosenEvent.seatMapUrl}}" data-toggle="modal" data-target="#seatMapModal" onclick="return false;"
                        target="_blank">View
                        Seat Map Here</a></td>

                    <div class="modal" id="seatMapModal" tabindex="-1" *ngIf="chosenEvent.seatMapUrl !== 'N/A'">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">View Seat Map</h5>
                            <button type="button" class="close" data-dismiss="modal">
                              <span>&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <a href="{{chosenEvent.seatMapUrl}}" target="_blank">
                              <img src="{{chosenEvent.seatMapUrl}}" alt="seat map" class="seat-map-img">
                            </a>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="tab-pane fade" id="nav-event-artist">
            <div *ngIf="chosenEvent">

              <div *ngIf="chosenEvent.artistNames && chosenEvent.artistNames.length > 0">
                <!-- <div *ngFor="let artistName of getKeys(chosenEvent.artists)"> -->

                <div *ngFor="let artistName of chosenEvent.artistNames">

                  <h6 class="center">{{artistName}}</h6>
                  <div *ngIf="chosenEvent.artists.get(artistName)">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <th>Name</th>
                          <td>{{chosenEvent.artists.get(artistName).name}}</td>
                        </tr>

                        <tr *ngIf="chosenEvent.artists.get(artistName).followers != -1">
                          <th>Followers</th>
                          <td>{{(chosenEvent.artists.get(artistName).followers).toLocaleString()}}</td>
                        </tr>

                        <tr *ngIf="chosenEvent.artists.get(artistName).popularity > -1">
                          <th>Popularity</th>

                          <td>
                            <div class="popularity-wrapper">
                              <div class="popularity">
                                {{chosenEvent.artists.get(artistName).popularity}}
                              </div>
                              <round-progress [clockwise]="false" [responsive]="true" [color]="'#44da2c'" [current]="chosenEvent.artists.get(artistName).popularity"
                                [max]="100">
                              </round-progress>
                            </div>
                          </td>
                        </tr>

                        <tr *ngIf="chosenEvent.artists.get(artistName).url != 'N/A'">
                          <th>Check At</th>
                          <td><a href="{{chosenEvent.artists.get(artistName).url}}" target="_blank">Spotify</a></td>
                        </tr>

                      </tbody>
                    </table>
                  </div><!-- *ngIf="chosenEvent.artists.get(artistName)" -->

                  <div class="card-columns">
                    <div *ngIf="chosenEvent.artistImages.get(artistName) && chosenEvent.artistImages.get(artistName).length > 0">
                      <div *ngFor="let url of chosenEvent.artistImages.get(artistName)">
                        <div class="card">
                          <a href="{{url}}" target="_blank">
                            <img class="card-img img-thumbnail" src="{{url}}">
                          </a>
                        </div>
                      </div>
                    </div><!-- length > 0 -->
                  </div><!-- card-columns-->

                </div><!-- for artistName -->
              </div><!-- if chosenEvent.artistsNames -->

              <div *ngIf="chosenEvent.artistNames.length === 0">
                <div class="row">
                  <div class="col-sm">
                    <div class="alert alert-warning">No records.</div>
                  </div>
                </div>
              </div>

            </div><!-- if chosenEvent -->
          </div><!-- id="nav-event-artist" -->


          <div class="tab-pane fade" id="nav-event-venue">
            <div *ngIf="chosenEvent && chosenEvent.venue">
              <h5 class="center">{{chosenEvent.venue.name}}</h5>
              <table class="table table-striped">
                <tbody>
                  <tr *ngIf="chosenEvent.venue.address !== 'N/A'">
                    <th>Address</th>
                    <td>{{chosenEvent.venue.address}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.venue.city !== 'N/A'">
                    <th>City</th>
                    <td>{{chosenEvent.venue.city}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.venue.phone !== 'N/A'">
                    <th>Phone Number</th>
                    <td>{{chosenEvent.venue.phone}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.venue.hours !== 'N/A'">
                    <th>Open Hours</th>
                    <td>{{chosenEvent.venue.hours}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.venue.generalRule !== 'N/A'">
                    <th>General Rule</th>
                    <td>{{chosenEvent.venue.generalRule}}</td>
                  </tr>
                  <tr *ngIf="chosenEvent.venue.childRule !== 'N/A'">
                    <th>Child Rule</th>
                    <td>{{chosenEvent.venue.childRule}}</td>
                  </tr>
                </tbody>
              </table>

              <div *ngIf="chosenEvent && chosenEvent.venue">
                <agm-map [zoom]="14" [latitude]="chosenEvent.venue.lat" [longitude]="chosenEvent.venue.lng">
                  <agm-marker [latitude]="chosenEvent.venue.lat" [longitude]="chosenEvent.venue.lng">
                    <agm-info-window *ngIf="placeId !== 'N/A'">
                      <h6>{{chosenEvent.venue.name}}</h6>
                      <div>{{chosenEvent.venue.address}}</div>
                      <div>{{chosenEvent.venue.city}} {{chosenEvent.venue.postalCode}}</div>
                      <div><a href="https://www.google.com/maps/search/?api=1&query={{chosenEvent.venue.name}}&query_place_id={{placeId}}"
                          target="_blank">View on Google Maps</a></div>
                    </agm-info-window>
                  </agm-marker>
                </agm-map>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-event-upcoming">
            <div *ngIf="chosenEvent && shownUpcomingEventsLess && shownUpcomingEventsLess.length > 0">
              <form action="#">
                <div class="form-row">
                  <div class="col-sm-3">
                    <select (change)="reorganizeUpcomingEvents()" [(ngModel)]="upcomingEventSort" (ngModelChange)="upcomingEventSort=$event"
                      name="upcoming-event-sort" class="form-control" id="upcoming-event-sort">
                      <option value="default" selected>Default</option>
                      <option value="name">Event Name</option>
                      <option value="time">Time</option>
                      <option value="artist">Artist</option>
                      <option value="type">Type</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select (change)="reorganizeUpcomingEvents()" [disabled]="upcomingEventSort === 'default'"
                      [(ngModel)]="upcomingEventOrder" (ngModelChange)="upcomingEventOrder=$event" name="upcoming-event-order"
                      class="form-control" id="upcoming-event-order">
                      <option value="ascending">Ascending</option>
                      <option value="descending">Descending</option>
                    </select>
                  </div>
                </div>
              </form>

              <div *ngFor="let upcomingEvent of shownUpcomingEventsLess">
                <div *ngIf="upcomingEvent" class="upcoming-block">
                  <h6><a href="{{upcomingEvent.uri}}" target="_blank">{{upcomingEvent.name}}</a></h6>
                  <span class="artist">Artist: {{upcomingEvent.artist + ' '}}</span><span class="upcoming-date">{{upcomingEvent.date
                    + ' ' + upcomingEvent.time}}</span>
                  <p class="upcoming-type">Type: {{upcomingEvent.type}}</p>
                </div>
              </div>

              <div>
                <div [@upcomingShowTrigger]="upcomingShowMore ? 'more' : 'less'" *ngFor="let upcomingEvent of eventsMore()">
                  <div class="upcoming-block">
                    <h6><a href="{{upcomingEvent.uri}}" target="_blank">{{upcomingEvent.name}}</a></h6>
                    <span class="artist">Artist: {{upcomingEvent.artist + ' '}}</span><span class="upcoming-date">{{upcomingEvent.date
                      + ' ' + upcomingEvent.time}}</span>
                    <p class="upcoming-type">Type: {{upcomingEvent.type}}</p>
                  </div>
                </div>
              </div>


              <div class="central-buttons">
                <button *ngIf="!upcomingShowMore" class="btn btn-primary more-button" (click)="showMore()">Show More</button>
                <button *ngIf="upcomingShowMore" class="btn btn-primary more-button" (click)="showLess()">Show Less</button>
              </div>

            </div>

            <div *ngIf="!upcomingEvents || (upcomingEvents.length === 0)">
              <div class="row">
                <div class="col-sm">
                  <div class="alert alert-warning">No records.</div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>