@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.search-form {
    margin-top: 20px;
    border: 1px solid #eee; 
    border-radius: 5px;
    background: #f8f8f8;
    margin-bottom: 20px;

    h4 {
        margin: 20px 0;
        text-align: center;
    }
}

.central-pills {
    justify-content: center;
}

.required-star {
    color: red;
}

.pseudo-link {
    color: #007bff;
    // text-decoration: none;
}

.btn-white {
    background-color: #fff;
    border-color: #ccc;
}

i {
    vertical-align: middle;
}

.btn-margin {
    margin-right: 5px;
    margin-bottom: 25px;
}

.results-nav {
    margin-bottom: 40px;
}

.star {
    color: orange;
}

.chosen-row {
    background: #ffd580;
}

.chosen-row:hover {
    background: white;
}

.seat-map-img {
    width: 100%;
}

.tab-block {
    margin-top: 20px;
}