@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media screen and (max-width: 768px) {
  .mq-large {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mq-small {
    display: none;
  }
}

.search-form {
    margin: 10px;
    border: 1px solid #eee; 
    border-radius: 5px;
    background: #f8f8f8;

    h4 {
        margin: 20px 0;
        text-align: center;
    }
}

.central-pills {
    justify-content: center;
}

.central-buttons {
    text-align: center;
    margin-top: 40px;
}

.required-star {
    color: red;
}

.pseudo-link {
    color: #007bff;
}

.btn-white {
    background-color: #fff;
    border-color: #ccc;
    color: #777;
}

i {
    vertical-align: middle;
}

.btn-margin {
    margin-right: 5px;
    margin-bottom: 25px;
}

.results-nav {
    margin-bottom: 40px;
}

.star {
    color: orange;
}

.chosen-row {
    background: #ffd580;
}

.seat-map-img {
    width: 100%;
}

.tab-block {
    margin-top: 20px;
}

.table tr, .table td, .table th {
    vertical-align: middle;
}

.nowrap-table {
    white-space: nowrap;
}

.popularity-wrapper {
    position: relative;
    width: 50px;
}

.popularity {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 16px;
    color: #212345;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.center {
    text-align: center;
}

.upcoming-block {
    border: 1px solid #ddd; 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.artist {
    color: orange;
}

.upcoming-date {
    color: #999;
}

.right-buttons {
    margin-left: auto

}

.twitter-button {
    img {
        height: 40px;
    }
    margin-right: 5px;
}

.buttons-row {
    margin-bottom: 10px;
}

th {
    white-space: nowrap;
}

.details-button {
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}